<div  x-data="{ mobileMenuOpen: false }" class=" bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a class="text-2xl uppercase font-extrabold text-blue-600" href="#">
            <!-- <span class="sr-only">Workflow</span>
            <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-blue-600.svg" alt=""> -->
                The Star Ducks
        </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button @click="mobileMenuOpen = true" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          
          <a href="/#" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Home
          </a>
          <a href="/#AboutSite" class="text-base font-medium text-gray-500 hover:text-gray-900">
            About Site
          </a>
          <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
            About Us
          </a>
          <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
            Newsletter
          </a>
          <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
            Contact
          </a>
          <a href="/logoutall" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Logout from all
          </a>

        </nav>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a href="/logout" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700">
            logout
          </a>
        </div>
      </div>
    </div>

    <!--
      Mobile menu, show/hide based on mobile menu state.

      Entering: "duration-200 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div x-description="Mobile menu, show/hide based on mobile menu state." x-show="mobileMenuOpen" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right md:hidden">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div>
              <div class="text-2xl font-extrabold text-blue-500 uppercase">The Star DUcks</div>
            </div>
            <div class="-mr-2">
              <button @click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div class="grid grid-cols-2 gap-y-4 gap-x-8">
            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
              Home
            </a>

            <a href="#AboutSite" class="text-base font-medium text-gray-900 hover:text-gray-700">
              About Site
            </a>

            <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
              About us
            </a>

            <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
              newsletter
            </a>

            <a href="javascript:void(0)" class="text-gray-200 text-base font-medium">
              Contact us
            </a>

            <a href="/logoutall" class="text-base font-medium text-gray-900 hover:text-gray-700">
              Logout from all devices
            </a>
          </div>
          <div>
            <a href="/logout" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700">
              logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
