<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/links.ejs') %>
</head>

<body>
    <div class="form">
        <form id="ForgotPassword">
            <div class="text-part">
                <h2>Forgot Password?</h2>
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
            <div class="inputBox">
                <input type="email" required name="Email" placeholder="Email" id="Email" />
            </div>
            <div class="submitBox">
                <button type="submit" name="submit" id="submit">Proceed</button>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {

            $("#ForgotPassword").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = '/forgotPasswprd';
                $("#submit").attr("disabled", "true");
                $("#submit").html("<span>Loading...</span>");

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: data => {
                        if (data.status == "error") {
                            showIt(data.message, "error"); 
                            $("#submit").removeAttr("disabled");
                            $("#submit").html("<span>Proceed</span>");   

                        } else {
                            console.log(data.message);
                            showIt(data.message, "success"); 
                            $("#submit").removeAttr("disabled");
                            $("#submit").html("<span>Proceed</span>");   
                        }
                    }
                });


            });


        });
    </script>
</body>

</html>