<% if(status=='success' ){ %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/toastify.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
    </head>

    <body>
        <div class="form">
            <form id="resetPassword">
                <div class="text-part">
                    <h2>Reset Password for <%= email %>
                    </h2>
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
                <div class="inputBox">
                    <input type="password" required name="Password" placeholder="Password" id="Password" />
                </div>
                <div class="inputBox">
                    <input type="password" required name="confirmPassword" placeholder="Confirm Password"
                        id="confirmPassword" />
                </div>
                <div class="submitBox">
                    <button type="submit" name="submit" id="submit">Reset Password</button>
                </div>
            </form>

        </div>
    <script src="/js/main.js"></script>
    <script src="/toastify.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {

                $("#resetPassword").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    var form = $(this);
                    var url = '<%=path%>';
                    $("#submit").attr("disabled", "true");
                $("#submit").html("<span>Loading...</span>");

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: data => {
                            if (data.status == "error") {
                               showIt(data.message, "error"); 
                            $("#submit").removeAttr("disabled");
                            $("#submit").html("<span>Reset Password</span>");  

                            } else {
                                console.log(data.message);
                                window.location.href = "/signup";
                            }
                        }
                    });


                });


            });
        </script>
    </body>

    </html>
    <%} else { %>
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body>
            Invalid Link!! <span id="countdown"></span>
            <script>
                var timeleft = 10;
                var downloadTimer = setInterval(function () {
                    if (timeleft <= 0) {
                        clearInterval(downloadTimer);
                        document.getElementById("countdown").innerHTML = "redirecting...";
                        window.location.href = "/signin"
                    } else {
                        document.getElementById("countdown").innerHTML ="redirecting in " + timeleft ;
                    }
                    timeleft -= 1;
                }, 1000);
            </script>
        </body>

        </html>
        <% } %>