<!DOCTYPE html>
<html class="h-full bg-white" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Document</title>
    <%- include('./partials/links.ejs') %>

</head>

<body class="h-full">
    <div class="min-h-full flex">
        <div class="flex-1 flex flex-col justify-center py-10 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
                <div>
                    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                        Create Your Account
                    </h2>
                    <p class="mt-2 text-sm text-gray-600">
                    Already have an accout?
                    <a href="/signin" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Sign in
                      </a>
                      </p>
                </div>

                <div class="mt-8">
                    <div class="mt-6">
                        <form id="register" class="space-y-6">
                            <div class="flex flex-wrap md:flex-nowrap justify-between">
                                <div>
                                    <label for="Firstname" class="block text-sm font-medium text-gray-700">
                                        First name
                                    </label>
                                    <div class="mt-1">
                                        <input id="Firstname" name="Firstname" type="text" autocomplete="Firstname"
                                            required
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                </div>

                                <div>
                                    <label for="Lastname" class="block text-sm font-medium text-gray-700">
                                        Last name
                                    </label>
                                    <div class="mt-1">
                                        <input id="Lastname" name="Lastname" type="text" autocomplete="Lastname"
                                            required
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label for="Email" class="block text-sm font-medium text-gray-700">
                                    Email address
                                </label>
                                <div class="mt-1">
                                    <input id="Email" name="Email" type="email" autocomplete="Email" required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                </div>
                            </div>

                            <div class="flex flex-wrap md:flex-nowrap justify-between">
                                <div class="space-y-1">
                                    <label for="Password" class="block text-sm font-medium text-gray-700">
                                        Password
                                    </label>
                                    <div class="mt-1">
                                        <input id="Password" name="Password" type="password"
                                            autocomplete="current-password" required
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                </div>

                                <div class="space-y-1">
                                    <label for="ConfirmPassword" class="block text-sm font-medium text-gray-700">
                                        Confirm Password
                                    </label>
                                    <div class="mt-1">
                                        <input id="ConfirmPassword" name="ConfirmPassword" type="password"
                                            autocomplete="confirm-password" required
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                </div>

                            </div>

                            <div>
                                <label for="DOB" class="block text-sm font-medium text-gray-700">
                                    Date-of-birth
                                </label>
                                <div class="mt-1">
                                    <input id="DOB" name="DOB" type="date" autocomplete="DOB" required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                </div>
                            </div>
                            <div>
                                <label class="text-base font-medium text-gray-900">Sex</label>
                              
                                <fieldset class="mt-4">
                                    <legend class="sr-only">sex</legend>
                                    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                                        <div class="flex items-center">
                                            <input id="Male" name="sex-name" type="radio" checked
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                            <label for="Male" class="ml-3 block text-sm font-medium text-gray-700">
                                                Male
                                            </label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="Female" name="sex-name" type="radio"
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                            <label for="Female" class="ml-3 block text-sm font-medium text-gray-700">
                                                Female
                                            </label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="Other" name="sex-name" type="radio"
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                            <label for="Other" class="ml-3 block text-sm font-medium text-gray-700">
                                                Other
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>


                            <div class="flex items-center justify-between">
                                <div class="text-sm">
                                    <input id="terms&conditions" name="terms&conditions" type="checkbox"
                                        class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                                    <label for="term&conditions">
                                        I agree to the
                                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                            terms and conditions
                                        </a>
                                        of star ducks.
                                    </label>
                                </div>
                            </div>

                            <div>
                                <button name="submit" id="submit" type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Sign in
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:block relative w-0 flex-1">
            <img class="absolute inset-0 h-full w-full object-cover"
                src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80"
                alt="">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#register").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);// agar es6 wale me karna h to $("#register") use kar, varna ye timesaver accha h
                var url = '/signup';
                $("#submit").attr("disabled", "true");
                $("#submit").html("<span>Loading...</span>");

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: data => {
                        if (data.status == "error") {
                            showIt(data.message, "error");
                            $("#submit").removeAttr("disabled");
                            $("#submit").html("<span>Sign up</span>");


                        } else {
                            window.location.href = '/verifyOtp?registered=true';
                        }
                    }
                });


            });


        });
    </script>
</body>

</html>